@media (max-width:1665px) {
    .slider{
        .slider-button-prev {
            rotate: 180deg;
            left: 180px;
        }
    
        .slider-button-next {
            right: 195px;
        }
    }
}
@media (max-width:1620px) {
    .slider{
        .slider-button-prev {
            rotate: 180deg;
            left: 10%;
        }
    
        .slider-button-next {
            right: 10.7%;
        }
    }
}
@media (max-width:1550px) {
    .product {

        &-content {
            max-width: calc(378px * 3 + 42px * 2);
        }
    }
    .slider{
        .slider-button-prev {
            rotate: 180deg;
            left: 5%;
        }
    
        .slider-button-next {
            right: 5.7%;
        }
    }
}

@media (max-width:1450px) {
    .slider{
        .slider-button-prev {
            rotate: 180deg;
            left: 2%;
        }
    
        .slider-button-next {
            right: 2.7%;
        }
    }
}
@media (max-width:1350px) {
    .banner-img::after {
        right: 2%;
    }

    .slider-button {
        display: none;
    }

    .product-popup {
        max-width: 98%;
    }

    .banner-img {
        img {
            max-width: fit-content;
        }
    }

    .footer {
        &__items {
            margin-left: 0;
        }

        &__copy {
            margin-left: 0;
        }
    }
    
    .banner-content {
        &__title {
            font-size: 50px;
        }
    }
}



@media (max-width:1165px) {
    .banner-content {
        &__title {
            font-size: 45px;
            line-height: 65px;
        }

        &__text {
            font-size: 20px;
            line-height: 25px;
        }
    }
}

@media(max-width:1150px) {
    .product {
        &-content {
            max-width: calc(378px * 2 + 42px * 1);
        }
    }
    .main::after {
        left: calc(106.5% - 100vh);
    }
    .main::before{
        top: 23%;
        right: 42.5%;
    }
}

@media (max-width:1100px) {
    .banner-content {
        &__title {
            font-size: 40px;
            line-height: 60px;
        }
    }

    .info-item__text {
        font-size: 18px;
    }

    .info-item__title {

        font-size: 24px;
    }

    .info-item:nth-child(2) {
        grid-area: 2;
    }

    .info-item:nth-child(1),
    .info-item:nth-child(4) {
        max-width: 100%;
    }

    .footer {
        &-spm {
            grid-column: 2;
            grid-row: 1;
        }

        &-map {
            grid-column: 3;
        }
    }
}

@media (max-width:1050px) {
    .banner-content {
        &__title {
            font-size: 35px;
        }
    }

    .slider {
        &__swipe {
            max-width: calc(333px * 2 + 37px * 1);
        }
    }
 
}

@media (max-width:980px) {
    .main::before {
        top: 42%;
        right: 42.5%;
        height: 697.34px;
        width: 738.14px;
    }
    .banner-content {
        &__btn {
            background-color: #EA7552;
            padding: 19px 60px;
            width: max-content;
            color: #fff;
            box-shadow: 3px 3px 9px rgba($color: #333333, $alpha: .2);
            transition: all .3s;
        }
    }

    .top-info {
        display: none;
    }

    .banner__inner {
        flex-direction: column;
    }

    .header {
        margin: 0;

        &__inner {
            justify-content: space-between;
        }

        &__call {
            display: block;
        }

        .logo,
        &__call {
            z-index: 100;
        }
    }

    .menu {
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        display: block;
        background-color: #f9f9f9;
        text-align: center;
        border-top: none;
        border-right: none;
        border-left: none;
        transform: translateY(-100%);
        transition: all 1s;
        z-index: 10;
        width: auto;
        margin: 0;
        visibility: hidden;
        transition: opacity 0.3s ease 0.2s, transform 0.3s ease 0.2s, visibility 0.3s;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;

        &__btn {
            z-index: 100;
            display: block;
        }

        &-info {
            &__btn {
                background: none;
                border: none;
                padding: 0;
                position: relative;
                cursor: pointer;
                padding-right: 13px;

                &::after {
                    content: '';
                    position: absolute;
                    width: 8px;
                    height: 7px;
                    background-color: #1315A5;
                    clip-path: polygon(50% 100%, 0 0, 100% 0);
                    bottom: 5px;
                    right: 0;
                    transition: transform 0.3s ease;
                }

                &.active::after {
                    transform: rotate(180deg);
                }
            }

            &__items {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                flex-direction: column;
                color: #1315A5;
            }

            &__item {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                color: #1315A5;

                svg {
                    margin-right: 4px;
                }
            }

            &__items {
                margin-bottom: 18px;
            }

            &__content {
                position: absolute;
                top: 100%;
                background: none;
                padding: 14px 28px !important;
                opacity: 0;
                visibility: hidden;
                transform: translateY(-5px);
                transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.3s;

                &.active {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                    position: unset;
                }
            }
        }

        &__btn {
            background: none;
            border: none;
            padding: 0;
        }

        &-list {
            opacity: 0;
            transition: opacity 0.3s ease 0.4s;
            flex-direction: column;
            height: 75vh;
            justify-content: center;

            &__item+.menu-list__item {
                margin-left: 0;
                margin-bottom: 30;
            }

            &__btn {
                display: none;
            }

            &__item {
                margin-bottom: 30px;
            }
        }

        &--active {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);

            .menu-list {
                opacity: 1;
            }

        }

    }

    .menu__btn {
        svg {
            transition: all .4s;

            rect {
                transition: all .4s;
            }
        }

        &--active {
            svg {
                height: 22px;

                rect {
                    &:first-child {
                        transform: rotate(315deg);
                        transform-origin: center;
                    }

                    &:nth-child(2) {
                        transform: rotateY(245deg);
                    }

                    &:last-child {
                        transform: rotate(45deg) translateY(7px);
                        transform-origin: center;
                    }
                }
            }
        }
    }

    .banner-content {
        &::after {
            display: none;
        }

        &__btn {
            display: block;
            justify-self: flex-end;
            margin-left: auto;
        }

        &__sub-btn {
            display: none;
        }

    }

    .banner-img img {
        width: 65%;
    }

    .banner-img {
        &::after {
            right: 10%;
            transition: all .2s;
        }
    }

    .banner {
        background: conic-gradient(from 270deg at 50% 62%, #315de7, #5185f5);
    }

    .banner-content__title {
        font-size: 45px;
    }

    .banner-content__text {
        font-size: 25px;
        line-height: 35px;
    }

    .footer {
        text-align: center;

        &__inner {
            justify-content: space-around;
        }

        &-spm {
            justify-self: center;
            grid-column: span 2;
            grid-row: 4;
        }

        &__copy {
            grid-column: span 2;
            grid-row: 3;
            margin: 35px 0;
        }

        &__items {
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        &-map {
            grid-column: span 2;

            &__placeholder {
                width: auto;
                overflow: hidden;
                padding-bottom: 56.25%;
                position: relative;
                height: 0;
            }

            iframe {
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                position: absolute;
            }
        }

    }
}

@media(max-width:865px) {

    .product-popup {
        padding: 6.4% 4%;

        .popup__btn {
            width: 24px;
            height: 24px;
            padding: 0;
            top: 16px;
            right: 16px;

            svg {
                width: 24px;
                height: 24px;
            }
        }

        &__inner {
            flex-direction: column;
        }

        &__img {
            margin-left: 0;
            height: 500px;

            img {
                height: 100% !important;
                object-position: top;
            }
        }

        &__imgbox {
            height: 500px;
            width: 100%;
        }
    }

    .product-popup,
    .form-popup {
        .product-btn {
            margin-bottom: 0;
        }
    }

    .product {
        padding-bottom: 110px;
    }
}


@media(max-width:777px) {
    .title {
        font-size: 38px;
        margin-bottom: 30px;
    }

    .product {
        &-content {
            max-width: 378px;
        }
    }
    .main::after {
        bottom: -1.5%;
        height: 697.34px;
        width: 738.14px;
        left: calc(185.5% - 100vh);
    }
}

@media(max-width:760px) {
    .form-popup {
        max-width: 98%;
    }

    .banner-img::after {
        right: 20px;
        top: auto;
        bottom: 10%;
        background-size: contain;
    }

}

@media(max-width:720px) {
    .info-item {
        height: auto;
    }

    .info-item:nth-child(2) {
        grid-area: 2;
        min-width: 100%;
        grid-column: span 2;
    }

    .info-item:nth-child(3) {
        grid-area: 3;
        min-width: 100%;
        grid-column: span 2;
    }

    .info-item:nth-child(1),
    .info-item:nth-child(4) {
        max-width: 100%;
    }

}

@media(max-width:640px) {
    .banner-content {
        &__title {
            font-size: 35px;
        }

        &__text {
            font-size: 20px;
            line-height: 30px;
        }
    }

    .product-popup {
        .popup__btn {
            width: 16px;
            height: 16px;
            padding: 0;
            top: 16px;
            right: 16px;

            svg {
                width: 16px;
                height: 16px;
            }
        }

        &__img {
            height: 300px;
        }

        &__imgbox {
            height: 300px;
        }
    }

    .slider {
        &__swipe {
            max-width: 333px;
        }
    }
    .main::after {
        left: calc(233.5% - 100vh);
    }
    .main::before{
        top: 39%;
        right: 17.5%;
    }
}

@media(max-width:560px) {
    .form-popup {
        padding: 50px 18px;

        &__title {
            font-size: 42px;
        }

        &__text {
            font-size: 16px;
        }

        .popup__btn {
            width: 24px;
            height: 24px;
            padding: 0;
            top: 16px;
            right: 16px;

            svg {
                width: 24px;
                height: 24px;
            }
        }
    }

    .footer__items {
        grid-row: 1;
        grid-column: span 2;
        max-width: 100%;
    }

    .footer-nav {
        grid-column: span 2;
        grid-row: 2;
        margin-bottom: 30px !important;
    }

    .footer {
        &-spm {
            justify-self: center;
            grid-column: span 2;
            grid-row: 5;
        }

        &__copy {
            grid-column: span 2;
            grid-row: 4;
            margin: 35px 0;
        }
    }
}

@media(max-width:520px) {
    .banner-img::after {
        right: 0px;
        top: auto;
        bottom: 15%;
        height: 50%;
        width: 50%;
        background-size: contain;
    }

    .form-popup {
        padding: 50px 18px;

        &__title {
            font-size: 38px;
        }

        &__text {
            font-size: 15px;
        }
    }
    .main::before{
        top: 39%;
        right: 1.5%;
    }
    .info-item__text {
        font-size: 14px;
    }
}

@media(max-width:490px) {
    .banner-content {
        &__title {
            font-size: 30px;
            line-height: 40px;
        }

        &__text {
            font-size: 20px;
            line-height: 30px;
        }
    }

    .banner-img::after {
        right: 0px;
        top: auto;
        bottom: 15%;
        height: 60%;
        width: 50%;
        background-size: contain;
    }

    .product-popup,
    .form-popup {
        .popup__btn {
            top: 9px;
            right: 10px;
        }
    }
}

@media(max-width:400px) {
    .title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .banner-content {
        &__text {
            font-size: 15px;
            line-height: 20px;
        }

        &__btn {
            padding: 11px 16px;
        }
    }

    .product {
        &-item {
            &__inner {
                width: 100% !important;
            }
        }
    }

    .product-popup {

        &__img {
            height: 199px;
        }

        &__title {
            font-size: 22px;
        }

        &__subtitle {
            font-size: 20px;
        }

        &__text {
            font-size: 12px;
        }

        &__imgbox {
            height: 199px;
        }
    }

    .form-popup {
        .popup__btn {
            width: 16px;
            height: 16px;
            padding: 0;
            top: 16px;
            right: 16px;

            svg {
                width: 16px;
                height: 16px;
            }
        }

        &__title {
            font-size: 32px;
        }

        &__text {
            font-size: 14px;
        }
    }
    .main::before {
        top: 36%;
        right: -22.5%;
    }
}